.menu-container {
    display: flex;
}


.menu-left {
    margin: 60px;
    height: 85vh;
    width: 20vw;
    background-color: red;
    display: flex;
}

.menu-left-options{
display: flex;
justify-content: start;
align-items: start;
flex-direction: column;
}



.MenuNotes-container {
    height: 73vh;
    width: 40vw;
    overflow: auto;
    border: 1px #454545  solid;
}