.menu-container {
    display: flex;
}


.menu-left {
    margin: 60px;
    height: 85vh;
    width: 20vw;
    background-color: red;
}

.MenuNotes-container {
    height: 100vh;
    width: 50vw;
    overflow: auto;
}