.menu-container {
    display: flex;
}


.menu-left {
    margin: 0px;
    height: 50vh;
    width: 25vw;

    display: flex;
}

.menu-left-options {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}

.menu-left-items {
    font-size: 25px;
    margin: 10px;
    margin-left: 80px;
    cursor: pointer;

    i {
        margin-right: 10px;
    }
}



.MenuNotes-container {
    height: 73vh;
    width: 40vw;
    overflow: auto;
    border: 1px #454545 solid;
}