.notes-user-container{
height: auto;
width: 95%;
overflow: hidden;
display: flex;
margin: auto;
border-bottom: 1px #454545  solid;
}

.notes-user-img{
display: flex;
align-items:flex-start;
justify-content: flex-start;
margin: 7px;
}

.img-user{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.notes-user-name{
    margin: 0;
    margin-top: 11px;
    margin-left: 5px;
    font-size: 19px;
}

.notes-user-note{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.container-post-note{
    height: 23vh;
    width: 40vw;
    border: 1px #454545  solid;
    display: flex;
    justify-content:center ;
    align-items: center;
    border-bottom: none;
}

.card-post-note{
    width: 90%;
    height: 90%;

    border-radius: 10px;
    border: 1px #454545  solid;
}

.user-post{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 60%;
}

.user-post-img{
    margin: 10px;
    margin-left: 15px;
}
.user-post-img-user{
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

.user-post-name{
    p{
        font-size: 25px;
    }
}