.notes-user-container{
height: auto;
width: 95%;
overflow: hidden;
display: flex;
margin: auto;
border-bottom: 1px #454545  solid;
}

.notes-user-img{
display: flex;
align-items:flex-start;
justify-content: flex-start;
margin: 7px;
}

.img-user{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.notes-user-name{
    margin: 0;
    margin-top: 11px;
    margin-left: 5px;
    font-size: 19px;
}

.notes-user-note{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.container-post-note{
    height: 25vh;
    width: 40vw;
    background-color: red;
    border: 1px #454545  solid;
}