.profile-container{
overflow-x: hidden;
}

.container-profileinfo {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.profileinfo-user {
    width: 70vw;
    height: 100%;
    border: 1px #454545 solid;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 40%;

    .banner-img {
        width: 100%;
        height: 100%;
    }
}

.info {
    width: 100%;
    height: 60%;
}

.img-profile {

    width: 20%;
    margin: 0;

    img {
        border: 6px #15212b solid;
        margin-left: 20px;
        height: 150px;
        width: 150px;
        margin-top: -33%;
        border-radius: 100%;
    }
}

.name-profile {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10px;

    strong {
        margin-right: 15px;
    }

    p {
        margin: 0;
    }

    i{
        margin-top: 20px;
        margin-right: 10px;
    }
}

.bio-profile {
    margin-top: 10px;
    width: 50%;
    margin-top: -2%;
    display: flex;
    margin-right: 22px;
    flex-direction: column;
    align-items: start;
    
    height: 100%;
    overflow: hidden;

    p {
        margin: 0;
        margin-top: 5px;
        text-align: start;
        max-width: 90%;
    }

    .date {
        margin-left: 70%;

        i{
            margin-right: 15px;
        }
    }
}

.container-bio-name {
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.notes-profile{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.notes-profile-width{
    width: 70vw;
    border: 1px #454545 solid;
    border-top: none;
    overflow:scroll;
    .post-note-container{
        height: 125px;
    }
}