
.navbar-container{
    width: 100vw;
    height: 7vh;
    background-color: #38444d;
    display: flex;
    align-items: center;

    i{
        font-size: 30px;
        cursor: pointer;
    }

    .icon{
        margin: 0;
        margin-left: 15px;
    }
}